/***** Generals *****/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 500;
}

body {
    background-color: rgb(133, 68, 255);
}

/***** Header *****/

header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    min-height: 10vh;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgb(98, 218, 255),rgb(86, 120, 182));
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    background-color: rgb(86, 120, 182);
    border-radius: 0px 0px 20px 20px;
}

#navbar div {
    margin: 0 50px;
}

header p {
    font-size: 2em;
}

header p:hover {
    text-decoration: underline;
    text-shadow: 3px 1px 2px rgb(98, 218, 255);
}

/***** Main Section *****/

#main_section {
    min-height: 80vh;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgb(98, 218, 255),rgb(86, 120, 182));
}

/* Nutzereingaben */

#eingabefelder {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#nutzer_eingaben {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 250px;
    align-items: center;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgb(98, 218, 255),rgb(86, 120, 182));
}

#nutzer_eingaben span {
    margin: 5px;
}

#text_input {
    resize: none;
    font-size: 2em;
    height: 100px;
    width: 250px;
    border-radius: 3px;
}

#shift_input {
    resize: none;
    font-size: 2em;
    height: 40px;
    width: 130px;
    border-radius: 3px;
    text-align: center;
}

button {
    background-color: rgb(86, 120, 182); /* Green */
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 3px;
  }

  button:hover {
    cursor: pointer;
  }

/* Ergebnis */

#ueberschrift {
    font-size: 1.8em;
    color: white;
    margin: 10px 0px;
}

#ergebnis_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#original_text {
    font-size: 1.5em;
}
